@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav > a {
    @apply relative overflow-hidden px-3 py-2 before:left-1/2 before:w-full before:-translate-x-1/2 before:scale-0 before:transition-all before:duration-300 before:ease-out after:absolute after:inset-x-0 after:bottom-0 after:h-[1.5px] after:bg-green-dark after:content-[''] hover:text-green-dark hover:before:scale-100;
  }

  nav a::after {
    translate: var(--_translate, 0);
    scale: var(--_scale, 0) 1;
    transition:
      scale 100ms var(--_scale-delay, 0ms),
      translate 200ms;
  }

  /* Previous sibling hovered */
  nav a:hover ~ a {
    --_translate: -100%;
    --_scale-delay: 200ms;
  }

  /* Other sibling hovered */
  nav:hover a {
    --_translate: 100%;
    --_scale-delay: 200ms;
  }

  /*
    The actually hovered <a> element
    Same specificity as previous selector, it must come after or be artificially inflated (eg. :hover:hover)
  */
  nav a:hover {
    --_scale: 1;
    --_translate: 0;
    --_scale-delay: 0ms;
  }

  .hero-gradient {
    background: linear-gradient(
      230deg,
      rgba(0, 37, 92, 0.81) -6.07%,
      rgba(136, 136, 136, 0) 101.04%,
      rgba(136, 136, 136, 0) 140.74%
    );
  }
}
